<div class="col-md-12" style="text-align: center;">

  <h1 class="header lead">EDIT PROFILE</h1>

  <%= form_for(@user, :html => {style: "width:50%; margin: 0 auto;"}) do |f| %>
    <%= @user.errors[:name].first %>
    <%= f.text_field :name, class: "form-control", :placeholder => "NAME" %><br>
    <%= @user.errors[:email].first %>
    <%= f.email_field :email, class: "form-control", :placeholder => "EMAIL" %><br>
    <%= @user.errors[:handle].first %>
    <%= f.text_field :handle.downcase, class: "form-control", :placeholder => "USERNAME" %><br>
    <div class="form-group form-inline">
    <%= f.file_field :avatar, class: "form-control", style:"width: 80%; float: left;" %><%= image_tag @user.avatar.url(:thumb), style: "width: 35px;" %><%= @user.errors[:avatar].first %>
    </div>
    <%= @user.errors[:password].first %>
    <%= f.password_field :password, class: "form-control", :placeholder => "PASSWORD" %><br>
    <%= f.password_field :password_confirmation, class: "form-control", :placeholder => "VERIFY PASSWORD" %><br><br>
    <%= f.submit "SUBMIT", class: "btn btn-default" %>
  <% end %>
  <br>
  <%= link_to "BACK", root_path %>
</div>
