<% if current_user %>
<%= render 'partials/stats' %>
<div class="col-md-6">
  <%= form_for :post, url: posts_path do |f| %>
  <div class="input-group col-md-12">
    <%= f.text_field :post_text, class: "form-control new-post", :autocomplete => :off %>
    <span class="input-group-addon character_count">
      <%= current_user.charma %>
    </span>
    <span class="input-group-btn">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <span class="glyphicon glyphicon-comment"></span>
      <% end %>
    </span>
  </div><br/>
  <% end %>
  <% if current_user.feed.length < 1 %>
    <div class="col-md-12 new-user" style="text-align: center; min-height: 200px">
      <span class="message">
        <h3 class="welcome" style="display: inline"></h3>

        <span class="typing">
          <h3 style="display: inline">|</h3>
        </span>

      </span>
    </div>
  <% end %>
  <div id="feed">
    <%= render @posts %>
  </div>
  <%= will_paginate @posts %>
</div>
<span class="recent">
  <%= render 'recent' %>
</span>
<% else %>
<div class="container vertical-center" style="height:80vh">
  <div class="col-md-12" style="text-align: center;">
    <span class="message">
      <h1 class="welcome" style="display: inline">
        <span class="title">CHARMA:</span><br/></h1>

      <span class="typing">
        <h1 style="display: inline">|</h1>
      </span>

    </span>
  </div>
</div>
<% end %>
